<h1>Transactions</h1>


<!-- Set up new transaction form  -->
<h2>Set up new transaction</h2>
<form method="post" action="/transactions">
  <label for="amount">Amount:</label>
  <!-- not nil -->
  <input id="amount" type="text" name="amount" />
  <br></br>
  <label>
<form method="post" action="/transactions">
  <label for="month">Month:</label>
  <input id="month" type="text" name="month" />
  <br></br>
  <label>
  Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>
  <label>
  Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>
  <a href="/merchants"> New Merchant</a>
  <br></br>
  <label>
  Select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option value="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
    <a href="/tags"> New Tag</a>
  </label>
  <br></br>
  <input type="submit" value="create transaction" name="submit"/>
</form>
<br></br>



<!--All time total spend table  -->
<table>
  <tr>
    <th>Total Spend</th>
  </tr>

  <tr>
    <td> £<%=@total%> </td>
  </tr>

</table>
<br></br>

<!-- All time all transactions table -->
<table>
  <tr>
    <th>Amount</th>
    <th>Month</th>
    <th>Merchant</th>
    <th>Tag</th>
  </tr>
  <tr>
    <% for transaction in @transactions%>
  <td>£<%= transaction.amount %></td>
  <td><%= transaction.month %></td>
  <td><%= transaction.merchant.name%></td>
  <td><%= transaction.tag.name%></td>
  <td>
    <form action='/transactions/<%= transaction.id %>/delete' method='post'>
      <button type="submit" value="remove" name="op">Delete</button>
    </form>
  </td>
  <td>
    <form action='/transactions/<%= transaction.id %>/edit' method="get">
      <button type="submit" value="edit" name="op">Edit</button>
    </form>
  </td>
</tr>
<% end %>
</table>
