<!--Edit transation form  -->

<h2>Edit Selected Transaction</h2>
<form method="post" action="/transactions/<%= @transaction.id%>/edit">
  <label for="amount">Amount:</label>
  <input id="amount" type="text" value = "<%=@transaction.amount%>" name="amount" />
  <br></br>
  
  <br></br>

  <label>
  Re-select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option <%= "selected" if merchant.id == @transaction.merchant_id %> value="<%= merchant.id %>"> <%= merchant.name %></option>
      <% end %>
    </select>
  </label>
  <br></br>
  <label>
  Re-select a tag:
    <select name="tag_id">
      <% for tag in @tags %>
      <option <%= "selected" if tag.id == @transaction.tag_id %> value="<%= tag.id %>"> <%= tag.name %></option>
      <% end %>
    </select>
  </label>
  <br></br>
  <input class="btn" type="submit" value="update transaction" name="submit"/>
</form>

<!--create new merchant or tag if not in current dropdown options but stays on this page due to hidden  -->
<h2>Create New Merchant/Tag</h2>
<form method="post" action="/merchants">
  <label for="name">Merchant Name:</label>
  <input id="name" type="text" name="name" />
<input class="btn" type="submit" value="create new merchant" name="submit"/>
<input hidden="true" name="url" value="/transactions/<%= @transaction.id  %>/edit" />
  <label for="name">Tag Name:</label>
  <input id="name" type="text" name="name" />
<input class="btn" type="submit" value="create new tag" name="submit"/>
<input hidden="true" name="url" value="/transactions/<%= @transaction.id  %>/edit" />
</form>
<br></br>
